/* Tabs */
.react-aria-Tabs {
  position: relative;
  --text-color-base:black;
  --highlight-background: white;
  width: 100%;
}

.react-aria-TabList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &[data-orientation=horizontal] {
    border: 1px solid var(--border-color);
    border-radius: 999px;
  }
}

.react-aria-Tab {
  padding: 10px 20px;
  cursor: default;
  outline: none;
  position: relative;
  color: var(--text-color-base);
  transition: color 200ms;
  --border-color: transparent;
  forced-color-adjust: none;
  border-radius: 999px;
  a {
    color: var(--text-color);
  }

  &[data-hovered],
  &[data-focused] {
    color: var(--text-color-hover);
  }

  &[data-selected] {
    background-color: var(--highlight-background);
    color: var(--text-color-base);
    a {
      color: var(--text-color-base);
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--text-color-disabled);
    }
  }

  &[data-focus-visible]:after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 4px;
    border: 2px solid var(--focus-ring-color);
  }
}

.react-aria-TabPanel {

}