.react-aria-Tabs {
  --highlight-color: #fff;
  --text-color: var(--spectrum-global-color-gray-700);
  --text-color-hover: var(--spectrum-global-color-gray-800);
  --text-color-selected: var(--spectrum-global-color-gray-900);
  --text-color-disabled: var(--spectrum-alias-text-color-disabled);

  display: flex;
  height: 100%;

  &[data-orientation='horizontal'] {
    flex-direction: column;
  }

  &[data-orientation='vertical'] {
    flex-direction: row;
  }
}

.title-bar,
.dapp-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #39424c;
  position: sticky;
  top: 60px;
  z-index: 100;
  background-color: #14171a;
}

.dapp-title-bar {
  border-bottom: none;
  position: relative;
  top: 0;
}

.title-bar > span,
.dapp-title-bar > span {
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.react-aria-TabList {
  display: flex;

  &[aria-orientation='horizontal'] {
    .react-aria-Tab {
      border-bottom: 3px solid var(--border-color, transparent);
    }
  }

  &[aria-orientation='vertical'] {
    flex-direction: column;
    /* border-right: 1px solid gray; */

    .react-aria-Tab {
      border-right: 3px solid var(--border-color, transparent);
    }
  }
  
}

.dapp-title-bar .react-aria-TabList {
  border: 1px solid #39424c;
  border-radius: 100px;
  padding: 2px;

  &[aria-orientation='horizontal'] {
    .react-aria-Tab {
      border-bottom: none;
    }
  }
}

.react-aria-Tab {
  padding: 10px;
  cursor: default;
  outline: none;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #718096;
  cursor: pointer;
  transition: color 200ms;
  padding: 20px 15px;

  &[data-hovered],
  &:focus {
    color: var(--text-color-hover);
  }



  &[aria-selected='true'] {
    --border-color: var(--highlight-color);
    color: var(--text-color-selected);
  }

  &[aria-disabled] {
    cursor: not-allowed;
    color: #718096;
    &[aria-selected='true'] {
      --border-color: var(--text-color-disabled);
    }
  }

  &[data-focus-visible]:after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 4px;
    border: 2px solid var(--highlight-color);
  }
}

.dapp-title-bar .react-aria-Tab {
  padding: 6px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  &[aria-selected='true'] {
    color: #14171A;
    background-color: #718096;
    border-radius: 100px;
  }
}

.react-aria-TabPanel {
  margin-top: 4px;
  padding: 20px 0;
  border-radius: 4px;
  outline: none;
  flex-grow: 1;

  &[data-focus-visible] {
    box-shadow: inset 0 0 0 2px var(--highlight-color);
  }
}

@media (forced-colors: active) {
  .react-aria-Tabs {
    forced-color-adjust: none;
    color: CanvasText;

    --highlight-color: Highlight;
    --text-color: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-selected: ButtonText;
    --text-color-disabled: GrayText;
  }
}
